@if (_points.Any())
{
    <ApexChart TItem="CaloriePoint" Options="_options" @ref="_chart">
        <ApexPointSeries TItem="CaloriePoint"
            Items="_points"
            Name="Calories"
            SeriesType="SeriesType.Bar"
            XValue="@(p => p.Hour.ToString("yyyy-MM-ddTHH:mm:ss"))"
            YValue="@(p => (decimal)p.Calories)"
            Color="#29b6f6"
            OrderBy="x => x.X" />
    </ApexChart>
}
else
{
    <div class="empty-chart">No food data yet</div>
}