@if (Records.Any())
{
    <ApexChart TItem="WeightRecord" Options="_options" @ref="_chart">
        <ApexPointSeries TItem="WeightRecord"
            Items="Records"
            Name="Weight, kg"
            SeriesType="SeriesType.Line"
            XValue="@(r => r.Date.ToString("dd.MM"))"
            YValue="@(r => (decimal)r.Weight)"
            Color="#29b6f6"
            OrderBy="x => x.X" />
    </ApexChart>
}
else
{
    <div class="empty-chart">No weight data yet</div>
}